body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f7f4; 
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1b4d22; 
    padding: 15px;
    text-align: center; 
}

nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold;
}
nav a:hover {
    color: #a3e2a3; 
}


h1 {
    color: #1b4d22;
    text-align: center;
    margin-top: 40px;
}

p {
    text-align: center;
    color: #000000; 
    font-size: 18px; 
    font-weight: bold; 
}